</div>
<div class="footer-container">
  <div class="footer">
    <p>&copy; 2024 Muhammad Nadeem Akram</p>
    <h1>JOIN US ON</h1>
    <ul class="social-links">
      <li><a href="#"><i class="fa fa-facebook">FaceBook</i></a></li>
      <li><a href="#"><i class="fa fa-twitter">Twitter</i></a></li>
      <li><a href="#"><i class="fa fa-linkedin">Linkedin</i></a></li>
    </ul>
  </div>
</div>
</body>

</html>